---
import NavbarLayout from '../layouts/NavbarLayout.astro'
import CheckIcon from '../images/check.svg?raw'
---

<NavbarLayout>
  <div class="flex justify-center">
    <ul class="timeline timeline-vertical timeline-snap-icon max-lg:timeline-compact">
      <li>
        <div class="timeline-middle">
          <Fragment set:html={CheckIcon} />
        </div>
        <div class="timeline-start">
          <div class="card mb-10 bg-base-200 shadow-xl lg:mb-0">
            <div class="card-body indicator w-auto min-w-0 max-w-[26rem]">
              <span
                class="badge indicator-item badge-secondary badge-outline indicator-center indicator-top font-semibold"
              >
                Jan 2023 - Present
              </span>
              <h2 class="card-title">System Engineer</h2>
              <h3 class="link-hover link-info link">@ SIX Group</h3>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end font-semibold">
                <div class="badge badge-accent">OpenShift</div>
                <div class="badge badge-primary">Kong API Gateway</div>
                <div class="badge badge-primary">Mutual TLS</div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <Fragment set:html={CheckIcon} />
        </div>
        <div class="timeline-end">
          <div class="card mb-10 bg-base-200 shadow-xl lg:mb-0">
            <div class="card-body indicator w-auto min-w-0 max-w-[26rem]">
              <span
                class="badge indicator-item badge-secondary badge-outline indicator-center indicator-top font-semibold"
              >
                May 2021 - Dec 2022
              </span>
              <h2 class="card-title">Middleware & IAM Engineer</h2>
              <h3 class="link-hover link-info link">@ Kanton Aargau</h3>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end font-semibold">
                <div class="badge badge-accent">Kubernetes</div>
                <div class="badge badge-primary">Httpd</div>
                <div class="badge badge-primary">F5 BigIP</div>
                <div class="badge badge-primary">OpenID Connect</div>
                <div class="badge badge-primary">Elastic Stack</div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <Fragment set:html={CheckIcon} />
        </div>
        <div class="timeline-start">
          <div class="card mb-10 bg-base-200 shadow-xl lg:mb-0">
            <div class="card-body indicator w-auto min-w-0 max-w-[26rem]">
              <span
                class="badge indicator-item badge-secondary badge-outline indicator-center indicator-top font-semibold"
              >
                Jan 2019 - May 2019
              </span>
              <h2 class="card-title">Radio and Security Specialist</h2>
              <h3 class="link-hover link-info link">@ Swiss Armed Forces</h3>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end font-semibold">
                <div class="badge badge-primary">Radio operation</div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <Fragment set:html={CheckIcon} />
        </div>
        <div class="timeline-end">
          <div class="card mb-10 bg-base-200 shadow-xl lg:mb-0">
            <div class="card-body indicator w-auto min-w-0 max-w-[26rem]">
              <span
                class="badge indicator-item badge-secondary badge-outline indicator-center indicator-top font-semibold"
              >
                Aug 2018 - Feb 2019
              </span>
              <h2 class="card-title">System and Network Engineer</h2>
              <h3 class="link-hover link-info link">@ Siemens</h3>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end font-semibold">
                <div class="badge badge-accent">PowerShell</div>
                <div class="badge badge-primary">Hyper-V</div>
                <div class="badge badge-primary">VPN</div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <Fragment set:html={CheckIcon} />
        </div>
        <div class="timeline-start">
          <div class="card mb-10 bg-base-200 shadow-xl lg:mb-0">
            <div class="card-body indicator w-auto min-w-0 max-w-[26rem]">
              <span
                class="badge indicator-item badge-secondary badge-outline indicator-center indicator-top font-semibold"
              >
                Aug 2014 - Jul 2018
              </span>
              <h2 class="card-title">System and Network Engineer Apprenticeship</h2>
              <h3 class="link-hover link-info link">@ Siemens</h3>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end font-semibold">
                <div class="badge badge-accent">Automation</div>
                <div class="badge badge-primary">Networking</div>
                <div class="badge badge-primary">Fortinet firewall</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</NavbarLayout>
